*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.first-main{
    background-image: url(pexels-pixabay-235990.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.second-part{
    height: 100vh;
}